asgiref==3.8.1
Django==5.2.3
django-filter==25.1
django-formset==2.0.1
djangorestframework==3.16.0
Markdown==3.8.2
psycopg==3.2.9
psycopg-binary==3.2.9
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.14.0
