{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="d-flex justify-content-center">
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the task with title <strong>{{ task.title }}</strong> ?</p>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Delete" class="btn btn-danger btn-margin-right" />
            <input type="submit" name="cancel" value="Cancel" class="btn btn-default"/>
        </div>
    </form>
</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}