{% extends "base.html" %}

{% block navigation %}

{% if user.is_authenticated %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'simple_api_app:index' %}">Home</a>
    </li>
</ul>

{% endif %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <p>{{field}}</p>
        <small id="{{ field.name }}Help" class="form-text text-muted">{{field.help_text}}</small>
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <div class="btn-group">
    <input type="submit" value="Submit" class="btn btn-primary btn--margin-right">
</form>

    <form action="" method="post" novalidate>{% csrf_token %}
        <input type="submit" name=cancel value="Cancel" class="btn">
    </form>
    </div>

{% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>

{% endif %}

{% endblock %}